<div class="site-banner">
    <div class="site-banner-text">
        {% if include.partial == "true" %}

        {% if page.localization == "en-US" %}
        This page is partially translated.
        {% elsif page.localization == "zh-CN" %}
        此页面没有完全翻译的您偏好语言的版本。
        {% endif %}

        {% else %}

        {% if page.localization == "en-US" %}
        This page is not translated.
        {% elsif page.localization == "zh-CN" %}
        此页面没有您偏好语言的版本。
        {% endif %}

        {% endif %}
    </div>
</div>