.footer-col-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-col {
    margin-bottom: 0;
    flex: auto;
}

.license-footer {
    margin-bottom: 8px;
    color: #828282;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge-footer {
    margin-bottom: 1px;
}

.open-source-footer {
    padding: 0px !important;
    padding-left: 16px !important;
}

.center-footer {
    flex: 1;
}

.language-footer {
    min-width: 128px;
    max-width: 192px;
    padding: 0px !important;
    padding-right: 16px;
    display: flex;
    flex: auto;
}

.language-footer-icon {
    padding: 4px;
    margin-right: 4px;
}

.language-select {
    flex: 1;
    padding: 4px;
    border: none;
    outline: 0px;
    background-color: rgb(240, 240, 240);
}