.footer-col-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-col {
    margin-bottom: 0;
    flex: auto;
}

.open-source-footer {
    padding: 0px !important;
    padding-left: 16px !important;
}

.language-footer {
    min-width: 128px;
    max-width: 192px;
    padding: 0px !important;
    padding-right: 16px;
    display: flex;
    flex: auto;
}

.language-footer-icon {
    padding: 4px;
    margin-right: 4px;
}

.language-select {
    flex: 1;
    padding: 4px;
    border: none;
    outline: 0px;
}